[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
nltk = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
